{
  "package": {
    "name": "strongbox-cli",
    "repo": "strongbox-deb",
    "subject": "strongbox",
    "desc": "Secrets management CLI for AWS",
    "website_url": "https://github.com/schibsted/strongbox",
    "issue_tracker_url": "https://github.com/schibsted/strongbox/issues",
    "vcs_url": "https://github.com/schibsted/strongbox.git",
    "public_download_numbers": false,
    "public_stats": false,
    "licenses": [
      "Apache 2.0"
    ],
    "labels": [
      "aws",
      "secrets management"
    ]
  },
  "version": {
    "name": "@PKG_VERSION@",
    "desc": "Automated DEB package release from master",
    "released": "@DATE@",
    "gpgSign": true
  },
  "files": [
    {
      "includePattern": "cli/build/distributions/(.*\\.deb)",
      "uploadPattern": "pool/main/s/$1",
      "matrixParams": {
        "deb_distribution": "debian",
        "deb_component": "main",
        "deb_architecture": "amd64",
        "override": 1
      }
    }
  ],
  "publish": true
}
